html, body {
  height: 100%;
}

.d-inline-block {
  display: inline-block;
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: '';
  height: 0;
  width: 100%;
  clear: both;
}

.btn {
  height: 35px;
  min-width: 97px;
  border-radius: 8px;
  font-size: initial;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.primary-btn {
  background-color: #49eeff;
}

.primary-btn:hover {
  background-color: #00d3e8;
}

.danger-btn {
  background-color: #ff2c2c;
  color: white;
}

.danger-btn:hover {
  background-color: red;
}

.default-btn:hover {
  background-color: #efefef;
}

.count-block {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}

.label {
  font-size: 20px;
  margin: 20px;
  text-align: left;
}

.light-label, .light-moth-count {
  color: #868686;
}

.age, .moth-count {
  font-size: 100px;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.home .container {
  margin: auto;
  height: 1000px;
  width: 1500px;
  display: block;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url('../images/home-bg.jpg');
}

.home .home-actions {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}

.home .home-actions .btn {
  margin: auto 10%;
  font-size: 24px;
  padding: 20px;
  height: 120px;
  box-shadow: 2px 2px 8px #444;
  background-color: #eee;
}

.home .home-actions .btn:hover {
  background-color: #fff;
}

.moth-simulator .container {
  margin: auto;
  height: 1000px;
  width: 1000px;
  display: block;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/*.before-ir .moth-simulator .container {*/
/*background-image: url('../images/before-ir-bg.jpg');*/
/*}*/

/*.after-ir .moth-simulator .container {*/
/*background-image: url('../images/after-ir-bg.jpg');*/
/*}*/

.bg {
  z-index: 1;
  height: 100%;
  position: absolute;
  width: 100%;
}

.before-ir-bg {
  background-image: url('../images/before-ir-bg.jpg');
}

.after-ir-bg {
  opacity: 0;
  background-image: url('../images/after-ir-bg.jpg');
}

.range-container {
  padding-bottom: 20px;
}

.range-container .range-field {
  position: relative;
  padding-left: 75px;
  padding-right: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

.range-container .left-label {
  position: absolute;
  bottom: 5px;
  left: 0;
}

.range-container .right-label {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.range-container #ir-range {
  width: 100%;
}

.range-container p {
  margin-top: 5px;
  font-size: 24px;
}

.moth {
  z-index: 10;
}

.birdie {
  z-index: 20;
}

.dark-moth {
  width: 100px;
  height: 39px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.birdie {
  background-image: url('../images/bird.png');
  pointer-events: none;
  position: absolute;
  height: 94px;
  width: 151px;
  background-size: contain;
}

.before-ir .dark-moth {
  background-image: url('../images/dark-moth.png');
}

.before-ir .dark-moth.flip-vertical {
  background-image: url('../images/dark-moth-flipped.png');
}

.after-ir .dark-moth {
  background-image: url('../images/dark-moth-after-ir.png');
}

.after-ir .dark-moth.flip-vertical {
  background-image: url('../images/dark-moth-after-ir-flipped.png');
}

.light-moth {
  width: 100px;
  height: 42px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.before-ir .light-moth {
  background-image: url('../images/light-moth.png');
}

.before-ir .light-moth.flip-vertical {
  background-image: url('../images/light-moth-flipped.png');
}

.after-ir .light-moth {
  background-image: url('../images/light-moth-after-ir.png');
}

.after-ir .light-moth.flip-vertical {
  background-image: url('../images/light-moth-after-ir-flipped.png');
}

.bird {
  background-image: url('../images/bird.png');
  pointer-events: none;
  position: absolute;
  height: 94px;
  width: 151px;
  background-size: contain;
}

.side-panel {
  float: left;
  max-width: 400px;
}

.bg-container {
  float: left;
}