html, body {
  height: 100%;
}
.d-inline-block {
  display: inline-block;
}
.btn {
  height: 35px;
  min-width: 97px;
  border-radius: 8px;
  font-size: initial;
}

.hidden {
  display: none;
}

.primary-btn {
  background-color: #49eeff;
}

.danger-btn {
  background-color: #ff4700;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin: auto 20px;
  display: inline-block;
  max-width: 160px;
  margin-right: 10px;
  text-align: left;
}

.light-label {
  color: #868686;
}
.age, .moth-count {
  font-size: 25px;
}
.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.container {
  margin: auto;
  height: 1000px;
  width: 1000px;
  display: block;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.dark-moth {
  background-image: url(../images/dark-moth.png);
  width: 100px;
  height: 39px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.dark-moth.flip-vertical {
  background-image: url(../images/dark-moth-flipped.png);
}

.light-moth {
  background-image: url(../images/light-moth.png);
  width: 100px;
  height: 42px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.light-moth.flip-vertical {
  background-image: url(../images/light-moth-flipped.png);
}

.bird {
  background-image: url(../images/bird.png);
  pointer-events: none;
  position: absolute;
  height: 94px;
  width: 151px;
  background-size: contain;
}
