html, body {
  height: 100%;
}

.d-inline-block {
  display: inline-block;
}

.btn {
  height: 35px;
  min-width: 97px;
  border-radius: 8px;
  font-size: initial;
}

.hidden {
  display: none;
}

.primary-btn {
  background-color: #49eeff;
}

.danger-btn {
  background-color: #ff4700;
}

.label {
  font-size: 16px;
  font-weight: bold;
  margin: auto 20px;
  display: inline-block;
  max-width: 160px;
  margin-right: 10px;
  text-align: left;
}

.light-label {
  color: #868686;
}

.age, .moth-count {
  font-size: 25px;
}

.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.home .container {
  margin: auto;
  height: 1000px;
  width: 1500px;
  display: block;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url('../images/home-bg.jpg');
}

.home .home-actions {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}

.home .home-actions .btn {
  margin: auto 10%;
  font-size: 24px;
  padding: 20px;
  height: 120px;
  box-shadow: 2px 2px 8px #444;
  background-color: #eee;
}

.home .home-actions .btn:hover {
  background-color: #fff;
}

.moth-simulator .container {
  margin: auto;
  height: 1000px;
  width: 1000px;
  display: block;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.before-ir .moth-simulator .container {
  background-image: url('../images/before-ir-bg.jpg');
}

.after-ir .moth-simulator .container {
  background-image: url('../images/after-ir-bg.jpg');
}

.dark-moth {
  width: 100px;
  height: 39px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.before-ir .dark-moth {
  background-image: url('../images/dark-moth.png');
}

.before-ir .dark-moth.flip-vertical {
  background-image: url('../images/dark-moth-flipped.png');
}

.after-ir .dark-moth {
  background-image: url('../images/dark-moth-after-ir.png');
}

.after-ir .dark-moth.flip-vertical {
  background-image: url('../images/dark-moth-after-ir-flipped.png');
}

.light-moth {
  width: 100px;
  height: 42px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.before-ir .light-moth {
  background-image: url('../images/light-moth.png');
}

.before-ir .light-moth.flip-vertical {
  background-image: url('../images/light-moth-flipped.png');
}

.after-ir .light-moth {
  background-image: url('../images/light-moth-after-ir.png');
}

.after-ir .light-moth.flip-vertical {
  background-image: url('../images/light-moth-after-ir-flipped.png');
}

.bird {
  background-image: url('../images/bird.png');
  pointer-events: none;
  position: absolute;
  height: 94px;
  width: 151px;
  background-size: contain;
}
